*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
padding:40px;
}

.container{
max-width:1200px;
margin:auto;
}

h1{
margin-bottom:30px;
}

form{
display:grid;
gap:15px;
margin-bottom:40px;
}
input,textarea{
padding:14px;
border:none;
border-radius:10px;
background:#1e293b;
color:white;
}
button{
padding:15px;
border:none;
background:#38bdf8;
color:white;
border-radius:10px;
cursor:pointer;
}
table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}
th,td{
padding:15px;
border-bottom:1px solid #334155;
text-align:left;
}
.edit{
background:orange;
margin-right:10px;
}
.delete{
background:red;
}