*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}
body{
background:#0f172a;
color:white;
padding:40px;
}
.container{
max-width:900px;
margin:auto;
}
form{
display:grid;
gap:15px;
margin-bottom:40px;
}
input{
padding:14px;
border:none;
border-radius:10px;
background:#1e293b;
color:white;
}
button{
padding:12px;
background:#38bdf8;
border:none;
border-radius:10px;
color:white;
cursor:pointer;
}
table{
width:100%;
border-collapse:collapse;
}
th,td{
padding:15px;
border-bottom:1px solid #334155;
}